.home-container {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98.8vw;
  height: 100vh;
  max-width: 1400px;
  margin: auto;
  background-image: linear-gradient(to bottom, transparent 95%, yellow 100%);
}
.nombre {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 80px;
  color: yellow;
  margin-left: 50px;
}
.subtitulo {
  color: yellow;
  margin-left: 100px;
}
.home-cuadro {
  align-self: flex-start;
}
.compu {
  position: absolute;
  top: 25vh; /* Ajusta la posición vertical de la imagen */
  left: 5vw; /* Ajusta la posición horizontal de la imagen */
  margin-left: 45vw;
  z-index: 90;
  width: 30vw;
}
