.home-container {
  background: #f4f1e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.gif {
  position: absolute;
  z-index: 15;
  margin-left: 32vw;
  margin-top: -12vh;
  width: 22vw;
}
.nombre {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 7vw;
  color: #9b4819;
  margin-left: 50px;
  z-index: 10;
}

.nombre1 {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 7vw;
  color: black;
  margin-left: 50px;
}

.subtitulo {
  color: #9b4819;
  margin-left: 100px;
  font-size: 2vw;
}
.home-cuadro {
  align-self: flex-start;
}
.compu {
  position: absolute;
  top: 25vh;
  right: 8vw;
  margin-left: 35vw;
  z-index: 90;
  width: 40vw;
}
.linkedin {
  width: 4vw;
  margin-top: 4.5vw;
}
.github {
  width: 4vw;
  margin-top: 4.5vw;
}
.botonera {
  display: flex;
  margin-top: -4vw;
  gap: 1vw;
  margin-left: 8vw;
}
