.contacts-container {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98.8vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent 95%, yellow 100%);
}
.contact {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-size: 145px;
  font-weight: 145px;
  color: black;
}
.formulario-container {
  background-color: black;
  color: yellow;
  height: 320px;
  width: 420px;
  border-color: yellow;
  box-shadow: 0px 4px 32px rgb(156, 155, 136);
  border-radius: 5px;
  margin-top: 20px;
}
.holder {
  margin-left: 5px;
  width: 405px;
  background-color: yellow;
}
.text-contenido {
  padding: 2px;
  margin-left: 12px;
}
footer {
  background-color: yellow;
  color: black;
  padding: 10px;
  text-align: center;
}
footer p {
  font-size: 14px;
}
