.contacts-container {
  background: #f4f1e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 70vh;
  background-image: linear-gradient(to bottom, transparent 95%, yellow 100%);
}
.contacto {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 60px;
  color: #9b4819;
  padding-top: 10vw;
}
.formulario-container {
  background-color: black;
  color: yellow;
  height: 320px;
  width: 420px;
  border-color: yellow;
  box-shadow: 0px 4px 32px rgb(156, 155, 136);
  border-radius: 5px;
  margin-top: 20px;
}
.holder {
  margin-left: 5px;
  width: 405px;
  background-color: yellow;
}
.text-contenido {
  padding: 2px;
  margin-left: 12px;
}
footer {
  background-color: #f4f1e8;
  width: 100vw;
  color: #9b4819;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}
footer p {
  font-size: 14px;
}
.linkedin {
  width: 6vw;
  margin-top: 5vw;
  margin-right: 7vw;
  margin-left: 7vw;
}
.contactos-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
