.about-contenedor {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98.8vw;
  height: 100vh;
  max-width: 1400px;
  margin: auto;
  background-image: linear-gradient(to bottom, transparent 95%, black 100%);
}
.about-titulo {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 80px;
  color: black;
  text-align: center;
}
.about-descripcion {
  width: 45vw;
  color: black;
  font-size: 1.5vw;
  margin-top: 5vw;
}
.boton {
  margin-top: 30px;
}
.orden {
  display: flex;
}
.pc {
  width: 30vw;
}
