.about-contenedor {
  background-color: #f4f1e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  max-width: 1400px;
  margin: auto;
}
.about-titulo {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 60px;
  color: #9b4819;
  text-align: center;
  margin-top: -6vh;
  margin-left: 50vh;
}
.about-descripcion {
  width: 50vw;
  color: black;
  font-size: 1.5vw;
  margin-top: 5vw;
}
.boton {
  margin-top: 30px;
  color: #9b4819;
}
.orden {
  display: flex;
}
.pc {
  width: 30vw;
}
.nombre4 {
  color: black;
}
