.color-navbar {
  background-image: linear-gradient(
    to bottom,
    rgb(129, 129, 2) -20%,
    black 70%
  );
  box-shadow: 0px 2px 4px black(246, 250, 0);
  background-color: black !important ;
}
.colorLetras {
  color: yellow !important;
  font-family: "Open Sans", sans-serif, cursive;
}
.colorLetras1 {
  color: yellow !important;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 205px;
  font-size: xx-large;
  margin-right: 15px;
}
