.cards-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 40px;
  margin-top: 50px;
}
.proyects-container {
  background-color: black;
  width: 98.8vw;
  height: 120vh;
  background-image: linear-gradient(to bottom, transparent 95%, yellow 100%);
}
.proyects-titulo {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 80px;
  color: yellow;
  text-align: center;
  padding-top: 50px;
}
.proyectos-boton {
  background-color: yellow;
  border-color: black;
}
.custom-card {
  background-color: yellow;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.style-card {
  background-color: yellow;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0);
}
.linea4 {
  position: relative;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: black;
  margin-top: 80px;
}
.style-card:hover {
  transform: translate(0, -10px);
}
