.skill-container {
  background-color: yellow;
  width: 98.8vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent 95%, black 100%);
  text-align: center;
}
.skill {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 80px;
  color: black;
  padding-top: 50px;
}
.backFront {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.backend {
  padding-top: 30px;
}
.frontend {
  padding-top: 30px;
}
.additional {
  padding-top: 30px;
}
.node {
  width: 40px;
  height: auto;
}
.node:hover {
  transform: translate(0, -5px);
}
