.skill-container {
  background-color: yellow;
  width: 98.8vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent 95%, black 100%);
  text-align: center;
}
.skill {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 145px;
  font-size: 80px;
  color: black;
  padding-top: 50px;
}
.backFront {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Esto distribuirá los elementos horizontalmente */
  align-items: center; /* Esto centrará los elementos verticalmente */
}
.backend {
  padding-top: 30px;
}
.frontend {
  padding-top: 30px;
}
.additional {
  padding-top: 30px;
}
.javascript {
  width: 40px;
  height: auto;
}
.node {
  width: 40px;
  height: auto;
}
.express {
  width: 40px;
  height: auto;
}
.mongo {
  width: 40px;
  height: auto;
}
.post {
  width: 40px;
  height: auto;
}
.sequelize {
  width: 40px;
  height: auto;
}
.react {
  width: 40px;
  height: auto;
}
.axios {
  width: 40px;
  height: auto;
}
.bootstrap {
  width: 40px;
  height: auto;
}
.css {
  width: 40px;
  height: auto;
}
.redux {
  width: 40px;
  height: auto;
}
.git {
  width: 40px;
  height: auto;
}
.figma {
  width: 40px;
  height: auto;
}
.materialUi {
  width: 40px;
  height: auto;
}
.html {
  width: 40px;
  height: auto;
}
.photoshop {
  width: 40px;
  height: auto;
}
.vite {
  width: 40px;
  height: auto;
}
